<h1>Register</h1>
<form action="/register" method="POST">
  <div>
      <br>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name" required>
  </div>

<br>
<label for="email">Email</label>
<br>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
      <br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" required>
  </div>
  <br><br>
  <button type="submit"><a href="/login">Register</a></button>
</form>

<!-- <a href="/login">Login</a> -->
