<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="profilepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="mainDiv">
      <div id="leftDiv">
        <img src="./pictures/girlProfile.jpg" id="profilePic" />
        <button>GO TO DASHBOARD</button>
        <span>Name</span>
        <hr />
        <div class="leftIcon">
          <i class="fa fa-exclamation-triangle" id="red-color"></i
          >pavithranr65@gmail.com
        </div>
        <div class="leftIcon">
          <i class="fa fa-exclamation-triangle" id="red-color"></i>+9080301817
        </div>
      </div>
      <div id="rightDiv">
        <div id="rightHeading">
          <img src="./pictures/girlProfile.jpg" class="profilePic" />
          <div>
            <div id="rightDiv">
              <div id="rightDivName">Pavithran R</div>
            </div>
            <div id="headingButtons">
              <div id="resumeButtons">
                <div>VIEW RESUME</div>
                <div>DOWNLOAD RESUME</div>
              </div>
              <div>
                <div id="changePassword">CHANGE PASSWORD</div>
              </div>
            </div>
          </div>
        </div>
        <div id="announcement">
          Please complete your profile so that it becomes easier for companies
          to make a decision to hire you.
        </div>
        <div id="personalDetails">
          <div>
            <div>Personal Details</div>
            <!-- <div><i class="fas fa-pen"></i></div> -->
          </div>
          <div>
            <div>Name</div>
            <div>Pavithran R</div>
          </div>
          <div>
            <div>Gender</div>
            <div></div>
          </div>
          <div>
            <div>DOB</div>
            <div>0000-00-00</div>
          </div>
          <div>
            <div>Languages</div>
            <div></div>
          </div>
          <div>
            <div>Hobbies</div>
            <div>N/A</div>
          </div>
          <div>
            <div>Achievements</div>
            <div>N/A</div>
          </div>
          <div>
            <div>Skills</div>
            <div></div>
          </div>
          <div>
            <div>Preferences</div>
            <div>
              <div class="roundedDiv">Electronic Engineering</div>
            </div>
          </div>
          <div>
            <div>About</div>
            <div>N/A</div>
          </div>
        </div>
        <div id="personalDetails">
          <div>
            <div>Contact Details</div>
            <div></div>
          </div>
          <div>
            <div>Email ID</div>
            <div>pavithranr65@gmail.com</div>
          </div>
          <div>
            <div>Mobile Number</div>
            <div>9080301817</div>
          </div>
          <div>
            <div>Facebook Account</div>
            <div><div class="roundedDiv"> <img src="./pictures/facebook-circular-logo.svg" class="iconPic"> Link your Facebook account</div></div>
          </div>
          <div>
            <div>Google Account</div>
            <div><div class="roundedDiv"> <img src="./pictures/googlelogo.svg" class="iconPic"> pavithranr65@gmail.com</div></div>
          </div>
        </div>
        <div id="personalDetails">
          <div>
            <div>Address Details</div>
            <div></div>
          </div>
          <div>
            <div>Address</div>
            <div>pavithranr65@gmail.com</div>
          </div>
          <div>
            <div>City</div>
            <div>9080301817</div>
          </div>
          <div>
            <div>State</div>
            <div></div>
          </div>
          <div>
            <div>Pincode</div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
