<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/05f0690cbc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../public/css/header.css" />
  </head>
  <body>
    <div id="header">
      <div id="headerDiv">
        <img src="../../public/Images/menu.png" id="menu" />
        <img
          src="https://assets.interntheory.com/creative/logo.png"
          id="logo"
        />
      </div>

      <!-- sidebar -->
      
      <div id="sideBar" style="padding-left: 0px;">
        <div id="sidebarNav">
          <img src="../../public/Images/menu.png" id="menu" class="sidebarNav_img" />
          <img
            src="https://assets.interntheory.com/creative/logo.png"
            id="logo"
            class="sidebarNav_img2"
          />
        </div>
        <div id="sidebarCategories">
          <ul id="sidebarCatagoriesUL">
            <li class="sidebarTitles" id="sidebarProfile">
              <img src="../../public/Images/girlProfile.jpg" id="sidebarImg">
              <div>
                <div>Sarfaraz</div>
                <div>sarfaraz@s.com</div>
                <div>9080301817</div>
              </div>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/dashboard.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Dashboard</span>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/profile.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Profile</span>
            </li>
            <!-- <li class="sidebarTitles">
              <img src="../../public/Images/home.png" class="sidebarIcons">
              <span class="categoriesHeading">Home</span>
            </li> -->
            <li class="sidebarTitles">
              <img src="../../public/Images/Internship.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Internships</span>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/Jobs.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Jobs</span>
            </li>
            <!-- <li class="sidebarTitles">
              <img src="../../public/Images/postinternship.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Post Internship</span>
            </li> -->
            <li class="sidebarTitles" id="expandableCourse">
              <div class="expandableCourse">
                <img src="../../public/Images/courses.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Courses</span>
              <i class="fas fa-chevron-down"></i>
              </div>
              <div id="coursesHidden">
                <div>Online Courses</div>
                <div>Classroom Training</div>
              </div>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/transactions.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Transactions</span>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/Contact us.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Contact Us</span>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/startbtoday.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Start your business today</span>
            </li>
            <hr id="sidebarCategoriesHR">
            <!-- <li class="sidebarTitles" id="expandableRegister">
              <div class="expandableRegister">
                <img src="../../public/Images/register.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Register</span>
              <i class="fas fa-chevron-down"></i>
              </div>
              <div id="registerHidden">
                <div>Company</div>
                <div>Student</div>
              </div>            
            </li>
            <li class="sidebarTitles" id="expandableLogin">
              <div class="expandableLogin">
                <img src="../../public/Images/login.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Login</span>
              <i class="fas fa-chevron-down"></i>
              </div>  
              <div id="loginHidden">
                <div>Company</div>
                <div>Student</div>
              </div>           
            </li> -->
            <li class="sidebarTitles">
              <img src="../../public/Images/changepassword.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Change Password</span>
            </li>
            <li class="sidebarTitles">
              <img src="../../public/Images/Logout.PNG" class="sidebarIcons">
              <span class="categoriesHeading">Logout</span>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- sidebarend -->
      <div id="navEnd">
        <i class="fas fa-bell" id="bellNotification"></i>
        <img src="../../public/Images/shopping-cart.png" id="cart"></img>
        <!-- <button>SIGN IN</button> -->
        <img src="../../public/Images/girlProfile.jpg" id="navProfile"></img>
      </div>
    </div>
  </body>
</html>

<script src="../../public/javascript/header.js"></script>
